body {
	background: linear-gradient(45deg, floralwhite, ghostwhite);
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

p, h1, h2, h3, li, ul{
	text-align: center;
	margin: 0 auto;
}


div a {
	text-align: center;
	display: block;
	margin: 0 auto;
}