body {
	background: linear-gradient(45deg, floralwhite, ghostwhite);
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
	margin: 0 15em 15em 15em;
}

h1, h2, h3, li, ul{
	text-align: center;
}


div a {
	text-align: center;
	display: block;
	margin: 0 auto;
}